.about-container .cards {
    transform: rotate(-14.819deg);
    position: relative;
    right: 100px;
    height: 368px;
}

.aboutme {
    max-width: 948px;
    border: 1px solid #CCC;
    margin: 0px auto;
    margin-bottom: 158px;
    padding: 0px 24px;
}

@media (max-width: 400px) {
    .aboutme {
        padding: 0px 0px !important;
    }
}

h1 {
    font-family: 'International', sans-serif;
    font-size: 52.369px;
    margin-top: 192px;
}

p {
    color: #2C2C2C;
    font-weight: 300;
    font-size: 16px;
}

.insta_txt {
    position: fixed;
    bottom: 40px;
    right: 30px;
    padding: 16px 8px;
    background:#AC4D6F;
    color: #fff;
    z-index: 94;
    writing-mode: vertical-lr;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    transform: rotate(0deg);
}